* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #0F1229;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ysabeau Office', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.orangeline {
    color: #B96600;
    text-decoration: underline;
}

.greating {
    font-size: 3rem;
    text-align: center;
}

.LoginBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input {
    border: none;
    max-width: 190px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #141735;
    width: 100%;
    box-sizing: border-box;
}
